<% layout('/layouts/boilerplate.ejs') -%>

<script>
  const mapToken = "<%= mapToken %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="row">

    <div class="col-8 offset-3 mt-3">
        <h3><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 show-cards listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="listing_image">
        <div class="card-body ">
            <p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
            <p class="card-text"><%= listing.location %></p>
            <p class="card-text"><%= listing.country %></p>
        </div>
        <div class="booking-btn ms-auto">
            <button><a href="/listings/<%= listing._id %>/bookings/new">Book Now !</a></button>
        </div>
    </div>

    <br>

    <div class="btns">
        <%if(currentUser && listing.owner._id.equals(currentUser._id)){%>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
            <form method="post" action="/listings/<%= listing.id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        <%}%>
    </div>
    
    <div class="col-6 offset-3">

        <% if(currentUser){ %>
            <hr>
            <h4>Leave a Review</h4>

            <!--WRAPPER ADD -->
            <div class="review-card">
                <form action="/listings/<%= listing.id %>/reviews" method="POST" class="needs-validation" novalidate>

                    <div class="mb-3 mt-2">
                        <label class="form-label">Rating</label>
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                            checked />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5">5 stars</label>
                        </fieldset>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Comment</label>
                        <textarea name="review[comment]" rows="4" class="form-control" required></textarea>
                    </div>

                    <button class="btn btn-dark w-100">Submit</button>

                </form>
            </div>

            <hr>
        <% } %>

        <% if(listing.reviews.length> 0){ %>
            <h5>All Reviews</h5>

            <div class="row g-4">
                <% for(review of listing.reviews){ %>

                    <!--PROPER COLUMN -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="card h-100 review-box">

                            <div class="card-body card-main-body">
                                <h6 class="card-title">@<%= review.author.username %></h6>

                                <p class="starability-result" data-rating="<%= review.rating %>"></p>

                                <p class="card-text"><%= review.comment %></p>

                                <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-sm review-delete-button">Delete</button>
                                </form>
                            </div>

                        </div>
                    </div>

                <% } %>

            </div>

        <% } %>

    </div>

    <div class="col-6 offset-3 mb-3 map-box">
        <h3>Where you will be</h3>
        <div id="map"></div>
    </div>

</div>

<script src="/js/map.js"></script>
